body{
    background-color: whitesmoke;
    font-family: Times New Roman, Times, serif;
    margin-left: 330px;
    padding-left: 20px;
    color: #708090;
}
.static-tab {
  color: black;
  padding: 20px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color:grey;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.static-tab img {
  max-width: 100%;
  border-radius: 100px;
  margin: 0 auto;
  width: 175px;
}
header{
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-size: 40px;
    margin: 4px;
}
h1{
text-align: left ;
font-size: 35px;
}
h2{
color: black; 

}



  
.column-left {

  order: 1; /* Position this column first (left) */
  margin: 10px; /* Adjust this value to add space between columns */
 
  font-size: 17px;
}

.column-right {

  order: 2; /* Position this column second (right) */
  margin: 10px; /* Adjust this value to add space between columns */

  font-size: 17px;
}

.contact img {
max-width: 7%;
border-radius: 20px;
float: left; 
margin-top: 10px;
margin-right:  5px ;
}
.mail img {
  font-size: 17px;
  max-width: 7%;
  float: left; 
  margin-bottom: 30px;
  margin-right:  5px ;
}
.begin{
  text-align: center;
}
.first{
font-size: 32px;
background-color:grey ;
padding: 20px;
}
.divider {
  border-top: 1px  solid #708090;
  margin: 20px 0;
}
.divider1 {
  border-top: 1px solid black; 
  margin: 20px 0;
}
#darkModeButton{
  border-radius: 10px;
  width: 100px; 
}
